*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;

}
.navbar{
    background: linear-gradient( to right, black, white);
    padding: 0 !important;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.column {
    float: left;
    width: 33.33%;

}
.main p{
    font-weight: bold;

}
.main{
    position: relative;
    width: 100%;
}
#jako{
    color: white;
}
img{
    width: 100%;
    height: auto;
    padding: 24px 0px 0px 0px !important;

    position: relative;
}
img:hover{
    width: 110%;
    height: auto;
    margin: -24px ;
    transition: 0.5s;
}
#logo{
    padding: 10px;
    color: white;
    /*font-size: 3vw;*/
}
 #nazov{
     color: black;
     font-weight: 600;
     text-align: center;
}
#login{
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-align: right;
    margin-top: 1vw ;
    transition: 0.5s;
}
#login:hover{
    color: orange;
}

.card-body a{
    color: black;
}

.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: white !important;
    font-weight: 600;
    transition: 0.5s;
}

.navbar-nav li a:hover{
    color: orange !important;
    font-weight: 600;
}
.header{
    background: linear-gradient( to right, black, white,black);
}

.footer{
    text-align: center;
    color: black;
}
.icons{
    color: black;
    padding: 10px;
}

.icons a{
    padding: 10px 20px 10px 20px;
}
.fa{
    color: black;
}

.end-of-footer{
    border-top: 4px solid black;

}

.prihlasovanie{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    background: white;
    border-radius: 10px;
}
.prihlasovanie h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid black;
}
.prihlasovanie form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .text{
    position: relative;
    border-bottom: 2px  solid black;
    margin: 30px 0;
}
.text input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    text-align: center;
}
.text label{
    position: absolute;
    top: 30%;
    left: 10%;
    color: #adadad;
    transform: translate(-50%);
    font-size: 18px;
    pointer-events: none;

}

input[type="submit"]{
    transition: 0.5s;
}

input[type="submit"]:hover{
    transition: 0.5s;
    color: orange;
}

.zabudnute{
    text-align: center;
}

input[type="submit"]{
    width: 40%;
    border: 2px solid   black;

}
.registracia{
    text-align: center;
}
.grid-layout .header {
    grid-area: header;
}

.grid-layout .navigation {
    grid-area: nav;
}

.grid-layout .ads {
    grid-area: ads;
}

.grid-layout .sidebar {
    grid-area: sidebar;
}

.grid-layout .main {
    grid-area: main;

}

.grid-layout .footer {
    grid-area: footer;
}

#ciara{
    border-bottom: 24px solid black;
}
.footer-style{
    background: linear-gradient( to bottom, black, white);
}

.end-of-footer{
    color: grey;
}
.col-md-3{
    padding: 2% 10%;
}

.grid-layout.container {
    width: 100% !important;
    display: grid;
    height: 100vh;
    gap: 24px;

    /* Creating 6 rows and 3rd row expands as much as it can */
    grid-template-rows: auto auto 1fr auto auto auto;

    /* Defining the template */
    grid-template-areas:
                "header"
                "nav"
                "main"
                "sidebar"
                "ads"
                "footer";

}

@media (min-width: 720px) {
    .grid-layout.container {
        /* Creating 4 rows and the 3rd row expands as much as it can */
        grid-template-rows: auto auto 1fr auto;

        /* Defining the template (3 columns) */
        grid-template-areas:
                    "header header header"
                    "nav nav nav"
                    "sidebar main main"
                    "ads footer footer";
    }


    .column{
        font-size: 3vw;
    }
    #nazov{
        font-size: 5vw;
    }

}


@media (min-width: 1020px) {
    .grid-layout.container {
        /* Creating 4 rows and the 3rd row expands as much as it can */
        grid-template-rows: auto auto 1fr auto;

        /* Defining the template (4 columns) */
        grid-template-areas:
                        "header header header header"
                        "sidebar nav nav ads"
                        "sidebar main main ads"
                        "footer footer footer footer";
    }
    .column{
        font-size: 2.5vw;
    }
    #nazov{
        font-size: 4vw;
    }
    .sidebar{
        background: linear-gradient( to right, black, white);
        width: 5vw;
        height: 100%;
    }

    .ads{
        background: linear-gradient( to right, white, black);
        width: 5vw;
        height: 100%;
    }
}
@media (min-width: 2000px) {
    .column{
        font-size: 1.2vw;
    }
    #nazov{
        font-size: 1.2vw;
    }
}
